.container {
    padding: 0 20px;
}

.menu {
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__item + &__item {
        margin-left: 30px;
        font-size: 14px;
        line-height: 17px;
    }
    &__link {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}
.header {
    .container {
        padding: 0;
    }
    position: relative;
    .header__curtain--active {
        display: block;
    }
    &__curtain {
        transition: all 0.3s;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: $header-footer-color;
        z-index: 5;
        display: none;
        .menu {
            margin-top: 30px;
            &__list {
                flex-direction: column;
                justify-content: center;
            }
            &__item {
                text-align: center;
                margin: 14px auto;
            }
            &__item + &__item {
                margin-left: 0;
            }
        }
        .header__curtain-phone {
            flex-wrap: wrap;
            margin-top: 20px;
            justify-content: center;
            display: flex;
            align-items: center;
        }
        .header__curtain-item {
            margin: 14px;
        }
    }
    padding: 7px 10px 8px;
    background-color: $header-footer-color;
    .logo {
        position: relative;
        z-index: 20;
        max-width: 230px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            max-width: 45px;
            margin-right: 14px;
        }
        &__title {
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.3em;
        }
    }
    &__btn {
        cursor: pointer;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: none;
        background: #292929;
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (min-width: 640px) {
    .header {
        &__btn {
            display: none;
        }
        &__curtain {
            display: none !important;
        }
    }
}
@media (max-width: 1100px) {
    .header {
        &__wrapper {
            justify-content: center;
            flex-direction: column;
        }
        &__item {
            margin: 20px auto;
        }
    }
}
@media (max-width: 640px) {
    .header {
        &__phone {
            display: none;
        }
        &__wrapper {
            justify-content: space-between;
            flex-direction: initial;
        }
        &__menu {
            display: none;
        }
        &__item {
            margin: 0;
        }
    }
}
@media (max-width: 320px) {
    .logo {
        &__title {
            display: none;
        }
    }
    .header {
        &__wrapper {
            flex-direction: initial;
            justify-content: space-between;
        }
    }
}
