*,
*::before *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
p{
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
    height: auto;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/*
  Влад В
*/

ul,
li,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h6 {
    margin: 0;
    padding: 0;
}